@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
.services__content1__text button, .header__text button {
  padding: 1rem 2rem;
  border-radius: 50rem;
  font-size: 3rem;
  transition: 0.33s;
}
.services__content1__text button:hover, .header__text button:hover {
  background-color: #8f95a5;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.header {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/header.jpeg);
  background-position: center;
  background-size: cover;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  height: 5vh;
}
.header__navbar img {
  width: 15rem;
  height: auto;
}
.header__navbar__anchers {
  display: flex;
  gap: 5rem;
}
.header__navbar__anchers a {
  color: #fff;
  font-size: 2rem;
}
.header__navbar #changeLang {
  width: 10rem;
  height: auto;
  display: flex;
  justify-content: end;
  color: #fff;
  font-size: 2.5rem;
}
.header__navbar i {
  font-size: 4rem;
  color: #fff;
  display: none;
}
.header__text {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
}
.header__text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
}
.header__text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
}
.header__text h2 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 10rem;
}
.aboutUs {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/workers2.jpeg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.aboutUs__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 43rem;
  background: rgba(56, 65, 69, 0.85);
  border-radius: 31px;
  color: #fff;
  padding: 3rem 3rem;
}
.aboutUs__content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 9rem;
}
.aboutUs__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
}

.services {
  width: 100%;
  background: linear-gradient(90.08deg, #000000 2.77%, #436271 56.09%, #436271 111.81%);
  color: #fff;
}
.services__content1 {
  display: flex;
}
.services__content1__photo {
  width: 50%;
  height: 70vh;
  background-image: url(../images/truba1.jpeg);
  background-size: cover;
  background-position: center;
}
.services__content1__text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem 9rem;
  width: 50%;
}
.services__content1__text h1 {
  font-size: 3rem;
}
.services__content1__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  padding: 3rem 0;
  color: rgba(255, 255, 255, 0.5);
}
.services__content2 {
  flex-direction: row-reverse;
}
.services__content2__photo {
  background-image: url(../images/truba2.jpeg);
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 783px) {
  .header__navbar__anchers,
.header__navbar #changeLang {
    display: none;
  }

  .header__navbar i {
    display: block;
    font-size: 5rem;
  }

  .header h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .header h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  .services__content1 {
    flex-direction: column;
  }
  .services__content1__photo {
    width: 100%;
    height: 50vh;
  }
  .services__content1__text {
    width: 100%;
    padding: 5rem 4rem;
    align-items: center;
  }
  .services__content1__text p {
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
}
