.footer {
  &__content {
    padding-top: 3rem;
    @include d-flex(space-between);
    border-top: 1px solid #fff;
    img {
      width: 15rem;
      height: auto;
    }
    p {
      font-size: 2rem;
    }
  }
}
